.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.learning {
  background-color: yellow;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  border: solid 2px black;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding 20px;
  text-align: center;
}
